
.banner{
	height:2.98rem;
	overflow: hidden;
}
.banner img{width:100%;}
/*公告*/
.notice{
	height: 0.72rem;
	line-height: 0.72rem;
	background: #fff url(../images/laba@2x.png) no-repeat 0.3rem center;
	background-size:0.3rem 0.3rem;
	border-bottom: 1px solid #F2F2F2;
	color:#ff1e1e;
	padding-left:0.3rem;
	text-indent: 0.5rem;
}
/*项目彩票*/
.project{
	
}
.list{
	float: left;
	width:49.6%;
	border-right:1px solid #e7e7e7;
	margin: 0.52rem 0 0;
}
.img{
	float:left;
	margin-left:0.2rem;
}
.img img{
	width: 1.1rem;
	height: 1.1rem;
}
.detail{
	float: left;
	margin:0 0.2rem;
}
.word1{
	font-size:0.32rem;
	color:#333;
}
.word2{
	width: 1.38rem;
	height: 0.4rem;
	line-height: 0.4rem;
	border-radius:10px;
	border:1px solid #ec340e;
	text-align: center;
	color: #EC340E;
	margin-top:0.2rem;
}
.cancle{
	border:1px solid #a5a4a4;
	color:#A5A4A4;
}
.noborder{
	border:none;
}
/*公告文字*/
.notice_word{
	background:#fff;
	padding:0.3rem;
	margin-top:0.6rem;
	
}
.words{
	border-radius: 10px;
	line-height:0.5rem; 
	border:2px solid #ffb3b3;
	font-size:0.30rem;
	color:#666;
	padding:0.1rem 0.3rem;
}
