
.talk_box{
	height: 100%;
	overflow: auto;
}
.talk_box li span{
	line-height:1rem;
	display: inline-block;
}
.nickname{
	
}
.other span{
	float: left;
}
.my span{
	float:right;
}
.nickimg img{
	width:1rem;
	height: 1rem;
}







.bubbleItem {
				width: 100%;
				position: relative;
				margin-top: 0.2rem;
			}
			
			.bubble {
				max-width: 70%;
				position: relative;
				line-height: 30px;
				padding-left: 10px;
				padding-top: 3px;
				padding-bottom: 3px;
				border-radius: 7px;
				margin-top: 15px;
				padding-right: 10px;
				display: inline-block;
			}
			
			.leftBubble {
				position: relative;
				margin-left: 1.3rem;
				border: 1px solid #00b6b6;
				background-color: #f8fdfc;
			}
			
			.left .nickimg {
				position: absolute;
				top: 0;
				left: 0;
			}
			
			.leftBubble .bottomLevel {
				position: absolute;
				top: 10px;
				left: -10px;
				border-top: 10px solid #00b6b6;
				border-left: 10px solid transparent;
			}
			
			.leftBubble .topLevel {
				position: absolute;
				top: 11px;
				left: -8px;
				border-top: 10px solid #f8fdfc;
				border-left: 10px solid transparent;
				z-index: 100;
			}
			
			.rightBubble {
				position: relative;
				margin-right: 1.2rem;
				float: right;
				border: 1px solid #aaa;
				background: #fff;
			}
			
			.right .nickimg {
				position: absolute;
				right: 0;
				top: 0;
			}
			
			.rightBubble .bottomLevel {
				position: absolute;
				bottom: 11px;
				right: -10px;
				border-bottom: 10px solid #aaa;
				border-right: 10px solid transparent;
			}
			
			.rightBubble .topLevel {
				position: absolute;
				bottom: 12px;
				right: -8px;
				border-bottom: 10px solid #fff;
				border-right: 10px solid transparent;
				z-index: 100;
			}
			
			.clearfix:after {
				visibility: hidden;
				display: block;
				font-size: 0;
				content: " ";
				clear: both;
				height: 0;
			}
			
.carousel-control.right{
	background:url(../images/arrow-right@2x.png) no-repeat center 0.3rem;
	
}
.carousel-control.left{
	background:url(../images/arrow-left@2x.png) no-repeat center 0.3rem;
}


/*弹出层*/
.popup_box{
	background: #f8f8f8;
	z-index: 9999;
	position: absolute;
	display: none;
	left:0;	
	width: 100%;
}
.carousel-inner{
	padding:0.25rem 0.2rem 0;
	
}
.popup_top{
	text-align: center;
}
.popup_title{
	font-size:0.32rem;
	color:#1B1B1B;
	line-height: 0.5rem;	
}
.light{
	color: #999999;
	font-size:0.26rem;
}
.popup_center{
	margin:0.3rem;
}
.popup_center span{
	background: #fff;
	color:#aeaeae;
	font-size:0.28rem;
	border:1px solid #e4e4e4;
	padding:0.1rem;
}
.explain{
	float:left;
}
.min{
	float:right;
	margin-right: 0.3rem;
}
.double{
	float:right;
}

.popup_bottom{
	background:#fff;
	border-top:1px solid #e4e4e4;
	height:1rem;
	line-height:1rem;
	padding:0 0.3rem;
	font-size:0.3rem;
}
/*聊天底部*/
.foot_top{
	padding:0.2rem 0.1rem;
	border-bottom: 1px solid #F2F2F2;
}
.foot_top span{
	float:left;
}
.Betting{
	
	background:#FF791F;
	color:#fff;
	font-size:0.3rem;
	border-radius:8px;
	line-height: 0.64rem;
	width: 1rem;
}
.voice{
	margin:0 0.2rem;
	width:0.6rem;
	height:0.6rem;
	background: url(../images/yuyin@2x.png) no-repeat center center;
	background-size: 100% 100%;
}
#talk{
	outline: none;
	border:1px solid #c5c5c5;
	border-radius:10px;
	width:3.4rem;
	height: 0.64rem;
	float: left;
	text-indent:0.1rem;
	font-size:0.32rem;
}
.send{
	float: left;
	border:1px solid #c5c5c5;
	line-height: 0.6rem;
	border-radius:5px;
	padding:0 0.1rem;
	margin:0 0.2rem;
}
.more{
	margin-left:0rem;
	width: 0.6rem;
	height: 0.6rem;
	background: url(../images/gengduo@2x.png) no-repeat center center;
	background-size:100% 100%;
}
.foot_bottom{
	margin-top:0.3rem;
	display: none;
}
.foot_bottom li{
	float:left;
	width:25%;
	text-align: center;
	color:#838383;
}
.foot_bottom img{
	width: 0.92rem;
	height: 0.92rem;
}
.foot_bottom img{
	margin:0 auto;
}
.foot_bottom li p:nth-child(2){
	margin-top:0.1rem;
}
/*梦曾*/
html,body{ height:100%; margin:0; padding:0; font-size:14px;}
.meng{height:100%; width:100%; position:fixed; _position:absolute; top:0; z-index:100; display: none;} 
.opacity{ opacity:0.5; filter: alpha(opacity=30); background-color:#000; } 




